.bookify__item__btn {
  padding: 6px 20px;
  display: inline-block;
}
/* Extra CSS */

.bop-demo-section {
  max-width: 1200px;
  margin: 0 auto;
}

.bop-section-padding {
  padding: 80px 0;
}

/* Common CSS */
.bop-align-left {
  text-align: left;
}
.bop-align-center {
  text-align: center;
}
.bop-align-right {
  text-align: right;
}
.ta-bop-section {
  color: #444;
}

.entry .entry-content .ta-bop-section a,
.ta-bop-section a {
  text-decoration: none;
  transition: all 0.33s;
}

.ta-bop-section img {
  max-width: 100%;
  vertical-align: middle;
}

.ta-bop-section * {
  box-sizing: border-box;
}

.ta-bop-section .swiper-container {
  position: initial;
  overflow: hidden;
}

.bookify__item .bookify__item--thumbnail {
  position: relative;
}

.bookify__item .bookify__item--thumbnail img {
  max-width: 100%;
  transition: ease all 0.3s;
  height: auto;
}

.bookify__item .bookify__item--archive li {
  list-style: none;
  color: #fff;
  text-decoration: none;
  background-color: #876585;
  padding: 6px 12px;
  border-radius: 7px;
  font-size: 14px;
}
.bookify__item .bookify__item--archive a {
  color: #fff;
}

.bookify__item .bookify__item--archive {
  position: absolute;
  top: 15px;
  left: 12px;
  z-index: 2;
}

.bookify__item .bookify__item--archive.top_right {
  top: 15px;
  right: 12px;
  left: auto;
}
.bookify__item .bookify__item--archive.top_center {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.bookify__item .bookify__item--archive.bottom_left {
  top: auto;
  bottom: 15px;
  left: 12px;
}

.bookify__item .bookify__item--archive.bottom_right {
  top: auto;
  bottom: 15px;
  right: 12px;
  left: auto;
}
.bookify__item .bookify__item--archive.bottom_center {
  top: auto;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.bookify__item .bookify__item--title {
  margin: 0;
  font-size: 15px;
}

.bookify__item .bookify__item--title a,
.bookify__item .bookify__item--title {
  font-size: 20px;
  margin-top: 0;
  color: #111;
  font-weight: 700;
  word-break: break-word;
  text-decoration: none;
}

.bookify__item .bookify__item--meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.bookify__item .bookify__item--meta ul li {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.bookify__item .bookify__item--meta ul li img,
.bookify__item .bookify__item--meta ul li i {
  margin-right: 3px;
  float: left;
}

.bookify__item .bookify__item--meta ul li img {
  margin-bottom: -4px;
}

.bookify__item .bookify__item--meta ul li a {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
}
.bookify__item .bookify__item--meta ul li,
.bookify__item .bookify__item--meta ul li a {
  display: flex;
  gap: 3px;
  align-items: center;
}
.bookify__item .bookify__item__content {
  margin-bottom: 16px;
}

.bookify__item .bookify__item__content p:first-of-type {
  margin-top: 0;
}

.bookify__item .bookify__item__content p:last-of-type {
  margin-bottom: 0;
}

.bookify__item .bookify__item__content .bookify__item__content__readmore {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookify__item .bookify__item__content .read-more {
  display: none;
}

.bookify__item .bookify__item__content .bookify__item__content__readmore a {
  display: inline-block;
  border: 1px solid;
  padding: 7px 12px;
  box-shadow: 0 0 0;
  text-decoration: none;
}

/* Social Color */

.bookify .bookify__item__socail-share a.bop-twitter i {
  background-color: #55acee;
}

.bookify .bookify__item__socail-share a.bop-facebook i {
  background-color: #3b5999;
}

.bookify .bookify__item__socail-share a.bop-linkedin i {
  background-color: #0077b5;
}

.bookify .bookify__item__socail-share a.bop-xing i {
  background: #1a7576;
}

.bookify .bookify__item__socail-share a.bop-pocket i {
  background: #ef4056;
}

.bookify .bookify__item__socail-share a.bop-digg i {
  background: #262626;
}

.bookify .bookify__item__socail-share a.bop-envelope i {
  background: #7d7d7d;
}

.bookify .bookify__item__socail-share a.bop-instagram i {
  background: #e4405f;
}

.bookify .bookify__item__socail-share a.bop-vk i {
  background-color: #4c75a3;
}

.bookify .bookify__item__socail-share a.bop-tumblr i {
  background-color: #34465d;
}

.bookify .bookify__item__socail-share a.bop-pinterest i {
  background-color: #bd081c;
}

.bookify .bookify__item__socail-share a.bop-reddit i {
  background-color: #ff5700;
}

.bookify .bookify__item__socail-share a.bop-blogger i {
  background-color: #f57d00;
}

.bookify .bookify__item__socail-share a.bop-whatsapp i {
  background-color: #25d366;
}

/* Social Share css */

.bookify .bookify__item__socail-share {
  margin-bottom: 10px;
}

.bookify .bookify__item__socail-share a {
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  color: #fff;
  margin-bottom: 5px;
}

.bookify .bookify__item__socail-share a i {
  height: 30px;
  width: 30px;
  font-size: 16px;
  line-height: 30px;
  background-color: #55acee;
  border-radius: 50%;
}

.bookify .bookify__item__socail-share a.bop_circle i {
  border-radius: 50%;
}

.bookify .bookify__item__socail-share a.icon_only i {
  border-radius: 0%;
  background-color: transparent;
  border: none;
  color: #666;
}

.bookify .bookify__item__socail-share a.bop_square i {
  border-radius: 0%;
}

.bookify .bookify__item__socail-share a.bop_rounded i {
  border-radius: 3px;
}

/* Carousel */

.bop_same_height .item,
.bop-carousel-wrapper.bop_same_height .swiper-slide {
  height: auto;
}

.bop_same_height .bookify__item,
.bop-carousel-wrapper.bop_same_height .swiper-slide .bookify__item {
  height: 100%;
}

.bop-carousel-wrapper .bottom_center.ta-bop-carousel {
  padding-bottom: 72px;
}

.bop-carousel-wrapper {
  position: relative;
}

.bop-carousel-wrapper .bop-button-prev,
.bop-carousel-wrapper .bop-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  background-size: auto;
  font-size: 25px;
  height: 33px;
  width: 33px;
  margin-top: 16px;
  /* border: 2px solid #444; */
  text-align: center;
  /* color: #444; */
  line-height: 31px;
  -webkit-transition: 0.3s;
}

.bop-carousel-wrapper .bop-button-prev.top_right,
.bop-carousel-wrapper .bop-button-next.top_right {
  top: 0;
  right: 0;
}

.bop-carousel-wrapper .bop-button-prev.top_right {
  right: 42px;
  left: auto;
}

.bop-carousel-wrapper .bop-button-prev.top_center,
.bop-carousel-wrapper .bop-button-next.top_center {
  top: 0;
  left: calc(50% + 5px);
  text-align: center;
}

.bop-carousel-wrapper .bop-button-prev.top_center {
  right: auto;
  left: calc(50% - 40px);
}

.bop-carousel-wrapper .bop-button-prev.top_left,
.bop-carousel-wrapper .bop-button-next.top_left {
  top: 0;
  left: 0;
  text-align: center;
}

.bop-carousel-wrapper .bop-button-next.top_left {
  right: auto;
  left: 40px;
}

.bop-carousel-wrapper .swiper-button-prev::after,
.bop-carousel-wrapper .swiper-button-next::after {
  display: none;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #888;
}

.bop-carousel-wrapper.center .swiper-slide .bookify__item {
  transform: scale(0.9);
  opacity: 0.8;
  transition: 0.22s all;
}

.bop-carousel-wrapper.center .swiper-slide.swiper-slide-active .bookify__item {
  transform: scale(1.1);
  opacity: 1;
}

.bop-carousel-wrapper .swiper-container-fade .swiper-slide,
.bop-carousel-wrapper .swiper-container-cube .swiper-slide,
.bop-carousel-wrapper .swiper-container-flip .swiper-slide {
  display: flex;
}

/* Bottom Position */

.bop-carousel-wrapper .bop-button-prev.bottom_right,
.bop-carousel-wrapper .bop-button-next.bottom_right {
  bottom: 0;
  right: 0;
  top: auto;
}

.bop-carousel-wrapper .bop-button-prev.bottom_right {
  right: 44px;
  left: auto;
}

.bop-carousel-wrapper .bop-button-prev.bottom_center,
.bop-carousel-wrapper .bop-button-next.bottom_center {
  top: auto;
  bottom: 33px;
  left: calc(50% + 5px);
  text-align: center;
}

.bop-carousel-wrapper .bop-button-prev.bottom_center {
  right: auto;
  left: calc(50% - 40px);
}

.bop-carousel-wrapper .bop-button-prev.bottom_left,
.bop-carousel-wrapper .bop-button-next.bottom_left {
  top: auto;
  bottom: 0;
  left: 0;
}

.bop-carousel-wrapper .bop-button-next.bottom_left {
  right: auto;
  left: 40px;
}

/* Center outer */

.bop-carousel-wrapper .bop-button-next.vertically_center_outer,
.bop-carousel-wrapper .bop-button-prev.vertically_center_outer {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -40px;
}

.bop-carousel-wrapper .bop-button-next.vertically_center_outer,
.bop-carousel-wrapper .bop-button-next.vertical_center_inner_hover {
  right: -40px;
  left: auto;
}

.bop-carousel-wrapper .bop-button-prev.vertical_center_inner_hover,
.bop-carousel-wrapper .bop-button-next.vertical_center_inner_hover {
  opacity: 0;
}

.bop-carousel-wrapper .bop-button-prev.vertical_center_inner_hover {
  right: auto;
  left: -35px;
}

.bop-carousel-wrapper:hover .bop-button-next.vertical_center_inner_hover {
  right: 10px;
  opacity: 1;
}

.bop-carousel-wrapper:hover .bop-button-prev.vertical_center_inner_hover {
  left: 10px;
  opacity: 1;
}

.bop-carousel-wrapper .bop-button-prev.swiper-button-prev i,
.bop-carousel-wrapper .bop-button-next.swiper-button-next i {
  line-height: 31px;
}

.bop-carousel-wrapper .bop-button-prev.swiper-button-prev:hover,
.bop-carousel-wrapper .bop-button-next.swiper-button-next:hover {
  background: #444444;
  color: #fff;
}

/* Bullet pagination */

.bop-carousel-wrapper
  .swiper-pagination-bullets.dots
  .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  opacity: 1;
}

.bop-carousel-wrapper
  .swiper-pagination-bullets.number
  .swiper-pagination-bullet {
  margin: 0 4px;
  background: #444;
  padding: 5px 10px;
  border-radius: 0;
  opacity: 1;
  height: 34px;
  color: #fff;
  width: auto;
  min-width: 34px;
  margin: 3px 3px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.bop-carousel-wrapper
  .swiper-pagination-bullets.number.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  width: 34px;
}

/* post pagination */
.bop-post-pagination {
  margin-top: 20px;
  margin-bottom: 30px;
}
.bop-post-pagination a,
.bop-post-pagination .page-numbers {
  background: #fff;
  color: #5e5e5e;
  border: 2px solid #876585;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
}
.bop-post-pagination a.bop_next.active,
.bop-post-pagination a.bop_prev.active {
  display: none;
}
.bop-post-pagination .page-numbers.current,
.bop-post-pagination a.active {
  cursor: auto;
  color: #fff;
  background: #876585;
  border-color: #876585;
}
.bop-load-more button {
  margin-top: 20px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  padding: 10px 18px;
  background: #876585;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.bop-hide {
  display: none;
}
.bop-post-pagination a.bop-hide,
.bop-post-pagination .page-numbers.bop-hide {
  display: none;
}
.bop-infinite-scroll-loader svg {
  stroke: #876585;
}
.bop-post-pagination .page-numbers i {
  font-size: 18px;
}

/**
  * Ajax Preloader.
  */
.bop-ajax-preloader {
  text-align: center;
}
/* Preloader */
.bop-preloader {
  background-color: #fff;
  background-image: url(../img/preloader.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  visibility: visible;
}

.ta-container .bx-wrapper {
  box-shadow: none;
  margin-bottom: 0;
  /* direction: rtl; */
}
.bx-wrapper {
  background-color: inherit;
  border: none;
}

.ta-container .bx-wrapper .bx-loading {
  display: none;
}

/* Filter Bar */
.bop-filter-bar .bop-order button:hover {
  background: #876585;
  color: #fff;
}

.bop-filter-bar .bop-order button {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 5px;
  height: 50px;
  padding: 0;
  width: 100px;
  line-height: 1;
  background: #876585;
  color: #fff;
  border: none;
}

.bop-filter-bar {
  overflow: hidden;
}

.bop-filter-bar .bop-bar {
  margin-right: 10px;
  vertical-align: top;
}

.bop-filter-bar label,
.taf .bop-filter-bar label {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-right: 6px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.bop-filter-bar .bop-bar button,
.bop-filter-bar .bop-bar select {
  min-width: 180px;
  height: 40px;
  border: 2px solid #bbb;
  padding: 0 9px;
  font-size: 14px;
  overflow: hidden;
  display: inline-block;
}

.bop_ex_filter_bar .bop-order.bop-bar.fl-btn p,
.bop-filter-bar .bop-bar p {
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 21px;
  text-transform: capitalize;
  line-height: 24px;
}

.bop-filter-bar .bop-bar {
  margin-bottom: 30px;
}

/* Filter button */
.bop-bar {
  padding-bottom: 20px;
}

.bop-slider {
  width: 50%;
  display: inline-block;
  margin-top: 15px;
}

.bop-order.bop-bar.fl-btn input:checked ~ div,
.bop-order-by.bop-bar.fl-btn input:checked ~ div,
.bop-author-filter.bop-bar.fl_button input:checked ~ div,
.bop-custom-field-filter.bop-bar.fl_button input:checked ~ div,
.bop-filter-bar .bop-filter-by.bop-bar.fl_button input:checked ~ div {
  background: #876585;
  border-color: #876585;
  color: #fff;
  cursor: default;
}

.bop-order.bop-bar.fl-btn input ~ div,
.bop-order-by.bop-bar.fl-btn input ~ div,
.bop-author-filter.bop-bar.fl_button input ~ div,
.bop-custom-field-filter.bop-bar.fl_button input ~ div,
.bop-filter-bar .bop-filter-by.bop-bar.fl_button input ~ div {
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid #bbb;
  text-transform: uppercase;
  text-align: center;
}

.bop-order.bop-bar.fl-btn input,
.bop-order-by.bop-bar.fl-btn input,
.bop-author-filter.bop-bar.fl_button input,
.bop-custom-field-filter.bop-bar.fl_button input,
.bop-filter-bar .bop-filter-by.bop-bar.fl_button input {
  display: none;
}

.fl_checkbox input {
  margin-right: 5px;
}

.bop-order.bop-bar.fl-btn,
.bop-order-by.bop-bar.fl-btn,
.bop-author-filter.bop-bar.fl_button,
.bop-custom-field-filter.bop-bar.fl_button,
.bop-filter-bar .bop-filter-by.bop-bar.fl_button {
  display: block;
  margin: 0;
}

.bop-order.bop-bar.fl-btn .fl_radio,
.bop-order-by.bop-bar.fl-btn .fl_radio,
.bop-author-filter.bop-bar.fl_button .fl_radio,
.bop-custom-field-filter.bop-bar.fl_button .fl_radio,
.bop-filter-bar .bop-filter-by.bop-bar.fl_button .fl_radio {
  display: inline-block;
}

.bop-filter-bar .bop-filter-by.bop-bar.fl_checkbox label {
  display: block;
}

.bop_ex_filter_bar .bop-order.bop-bar.fl-btn .fl_radio {
  margin: 0px 8px 8px 0px;
}

.bop_ex_filter_bar .bop-order.bop-bar.fl-btn p {
  margin-bottom: 10px;
}

.bop-ajax-search.bop-bar input {
  background: #fff;
  background: #ffffff;
  color: #5e5e5e;
  border-color: #bbbbbb;
  height: 40px;
  font-size: 14px;
  border: 2px solid #bbbbbb;
  margin-left: 5px;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* Left Thumb right content */

.bookify__item.left-thumb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-direction: unset;
  /* width: 100%; */
}

.bookify__item.left-thumb .bookify__item__details {
  margin-left: 20px;
}

.bookify__item.left-thumb .bookify__item--thumbnail {
  order: unset;
  /* flex: 0 0 40%; */
  margin: 0;
  max-width: 40%;
}

/* Right Thumb left content */

.bookify__item.right-thumb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-direction: row-reverse;
  /* width: 100%; */
}

.bookify__item.right-thumb .bookify__item--thumbnail {
  order: unset;
  flex: 0 0 40%;
  margin: 0;
}

.bookify__item.right-thumb .bookify__item__details {
  text-align: right;
  margin-right: 20px;
}

/* Content Over Post Thumb */
.bookify__item.ta-overlay {
  position: relative;
  overflow: hidden;
}
.bookify__item.ta-overlay::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #14141f;
  opacity: 0.7;
  position: absolute;
}

.bookify__item.ta-overlay .bookify__item--thumbnail {
  margin-bottom: 0;
}

.bookify__item.ta-overlay .bookify__item__details {
  position: absolute;
  height: auto;
  width: auto;
  bottom: 0;
  left: 0;
  top: auto;
  right: 0;
  padding: 15px;
  border-radius: 5px;
  z-index: 2;
}
.bookify__item.ta-overlay .bookify__item__details .bookify__item--title {
  color: #fff;
}
.bookify__item.ta-overlay .bookify__item__details .bookify__item__content p {
  color: #fff;
  margin-bottom: 10px;
}
.bookify__item__category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.bookify__item__category li {
  list-style: none;
}
.bookify__item__category li a {
  padding: 3px 10px;
  background-color: #1a1668;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
.bookify__book_fildes .book_fildes .book_filde {
  display: flex;
  gap: 3px;
  align-items: center;
}

#bop_wrapper-1638 .bookify__book_fildes .ta-row [class*='ta-col-'] {
  padding-bottom: 0;
}


.bookify_single {
  padding: 80px 0; }
.bookify__single .bookify__content {
  padding: 0px 0px 0px 20px; }

.bookify__single .bookify__title {
  font-size: 22px;
  font-weight: 600; }

.bookify__single .bookify__subtitle {
  font-size: 16px;
  font-style: italic;
  color: #808080;
  padding: 0px 0px 10px 0px; }

.bookify__single .bookify__price {
  font-size: 18px;
  gap: 10px;
  font-weight: 500;
  padding: 0px 0px 10px 0px; }
  .bookify__single .bookify__price span {
    color: #f15123;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    margin-left: 0; }

.bookify__single .bookify__details ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column; }
  .bookify__single .bookify__details ul li {
    color: #e58c23;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px 15px 0px; }
    .bookify__single .bookify__details ul li b {
      width: 180px;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      color: #222; }
      .bookify__single .bookify__details ul li b i {
        margin-right: 10px;
        color: #222;
        font-size: 16px; }
    .bookify__single .bookify__details ul li a {
      color: #e58c23; }

.bookify__single .bookify__description {
  padding: 0;
  margin-top: 20px; }
  .bookify__single .bookify__description__title {
    color: #e58c23;
    font-size: 20x;
    font-weight: 500;
    padding: 0px 0px 5px 0px; }
    .bookify__single .bookify__description__title b i {
      margin-right: 7px; }
  .bookify__single .bookify__description hr {
    margin-bottom: 10px;
    color: #222; }
  .bookify__single .bookify__description__content p {
    padding: 0px 0px 10px 0px;
    font-size: 14px;
    font-weight: 400; }
    .bookify__single .bookify__description__content p strong {
      font-size: 15px;
      color: #808080;
      font-weight: 700; }

.bookify__single .bookify__item__name {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  padding: 0px 0px 10px 0px; }

.bookify__single .bookify__abarage__rating {
  display: flex;
  gap: 7px;
  color: #faca51;
  font-size: 14px;
  font-weight: 400; }

.bookify__btn__primary {
  background-color: #c27b7f;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
.bookify_purchase_btn:hover {
  color: #ffffff;
}
